/* Selection/Highlight Colour */
::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none;
}
:root {
  color-scheme: light;
}
:root.dark {
  color-scheme: dark;
}
.container {
  padding: 25px;
  height: 2000px;
}
/* Preloader dark */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background: #212121;
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #fafafa;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

.is-hidden { 
display: none; 
}
header {
  
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
/* Style the footer */
footer {
    padding: 5px;
    text-align: center;
    padding-bottom: 0px;
    color: white;
   
  }
  /* Style the header links */
  .header a {
    float: left;
    color: #ffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
      opacity: 0.9;
      
    }
  
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #ff5cad;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    text-align: center;
  }
  /* Style the navigation bar */
.navbar {
  width: 100%;
  overflow: auto;
  opacity: 1;
}
 
html {
  --bck-color: #fafafa;
  --ft-color: #212121;

}

html.dark {
  --bck-color: #212121;
  --ft-color: #fafafa;
}
body {
  background: var(--bck-color);
  color: var(--ft-color);
  max-width: 83em;
  padding: -5% 8%;
  margin: 0 auto;
  size: 100px;
}

a:link,
a:visited,
a:active {
  color: var(--link-color);
}
fas fa-moon  {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h1 {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -10%);
  font-size: 60px;
}
h2 {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -10%);
  color: #ff5cad;
  font-size: 80px;
}
.box {
  position: absolute;
  width: 560px;
  height: 470px;
  background: #fafafa;
  border: 3px solid #212121;
  top: 15%;
  left: 40%;
  font-size: 40px;
  color: #212121;
}
h3 {
  font-size: 15px;
}
hr {
  border: 1px solid #000;
  margin-bottom: 25px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 13px;
}
* {box-sizing: border-box;}

/* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: #212121;
  color: white;
  min-width: 60px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 0px;
  outline: none;
  background-color: #fafafa;
  color: #212121;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}
/*Change text in autofill textbox*/
input:-webkit-autofill
{
 -webkit-text-fill-color: #212121 !important;
}
.input-field:focus {
  border: 2px solid #ff5cad;
}

/* Set a style for the submit button */
.btn {
  background-color: #ff5cad;
  color: white;
  padding: 10px 1px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}