/* Selection/Highlight Colour */
::selection {
  background-color: #ff5cad;
color: #fafafa;
  text-shadow: none;
}
:root {
  color-scheme: light;
}
:root.dark {
  color-scheme: dark;
}
.container {
  padding: 25px;
  height: 2000px;
}
/* Preloader dark */
.loader_bg{
  position: fixed;
  z-index: 999999;
  background-color: var(--link-color);
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid ;
  color: var(--link-color);
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

.is-hidden { 
display: none; 
}
header {
  
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
/* Style the footer */
footer {
    padding: 5px;
    text-align: center;
    padding-bottom: 0px;
    color: white;
   
  }
  /* Style the header links */
  .header a {
    float: left;
    color: #ffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
      opacity: 0.9;
      
    }
  
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #ff5cad;
    color: white;
    border-radius: 30px;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    text-align: center;
  }
  /* Style the navigation bar */
.navbar {
  width: 100%;
  overflow: auto;
  opacity: 1;border-radius: 30px;
}
 
html {
  --bck-color: #fafafa;
  --ft-color: #212121;

}

html.dark {
  --bck-color: #212121;
  --ft-color: #fafafa;
}
body {
  background: var(--bck-color);
  color: var(--ft-color);
  max-width: 83em;
  padding: -5% 8%;
  margin: 0 auto;
  size: 100px;
}
a:link,
a:visited,
a:active {
  color: var(--link-color);
}
fas fa-moon  {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h1 {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: translate(-50%, -10%);
  font-size: 60px;
}
h2 {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -10%);
  color: #ff5cad;
  font-size: 80px;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

.container {
	width: 320px;
	height: 480px;
	background-color: var(--link-color);
	box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
	position: absolute;
	top: 50%;
	left: 85%;
	transform: translate(-50%, -50%);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 1rem;
}

.container h4{
	color: var(--link-color);
	font-size: 2rem;
}

.container h4 i{
	font-size: 1.8rem;
	padding-left: .1rem;
}

.text p{
	font-size: .8rem;
	padding-top: 0.3rem;

}

.input {
	position: relative;
	width: 100%;
	height: 50px;
	margin-bottom: 0.7em;
}

.your-input input{
	width: 100%;
	height: 50px;
	padding-top: 1.1rem;
	padding-left: 9px;
	outline: none;
	border: 1px solid #8c8c8c;
	border-radius: 3px;
	transition: .2s;
}

.your-input label {
	position: absolute;
	top: 30%;
	left: 10px;
	font-size: 1.1rem;
  color: var(--link-color);
	transition: .2s;
}

.input input:focus ~ label,
.input input:valid ~ label{
	top: 10%;
	font-size: .8rem;
  color: var(--link-color);
}

.input input:focus {
	border-width: 2px;
	border-color: #ff5cad;
}

.forgot-password-link {
	width: 140px;
	padding: .2rem;
	text-align: center;
	text-decoration: none;
	font-weight: bolder;
	color: #000;
	transition: .3s;
	border-radius: 12px;
}


.forgot-password-link:hover{
	background: rgba(174, 19, 182, 0.3);
}

button {
	height: 50px;
	background: #ff5cad;
	outline: none;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 1rem;
	font-weight: bolder;
}

.join-link {
text-decoration: none;
font-weight: bolder;
color: var(--link-color);
}

.join-now{
	text-decoration: none;
	font-weight: bolder;
	color: #ff5cad;
	border-radius: 12px;
	transition: .3s;
	font-weight: bolder;
	padding: .2rem;
}

.join-now:hover{
	background: rgba(174, 19, 182, 0.3);
}